<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>tab3</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
<section class="courses-section">

  <div class="title-area">
    <h1>Encontre seu próximo <span>curso</span> 🎓</h1>

    <p>
      Cursos gratuitos e profissionalizantes para ajudar você a entrar no mercado de trabalho.
    </p>
  </div>

  <div class="courses-container">

    <div class="course-card">

      <h2>Fundação Bradesco</h2>

      <p>
        Cursos gratuitos online com certificado em áreas como administração e informática.
      </p>

      <a href="https://www.ev.org.br/" target="_blank">
        Acessar
      </a>
    </div>

    <div class="course-card">

      <h2>SENAI</h2>

      <p>
        Cursos técnicos e profissionalizantes para jovens que querem aprender na prática e ganhar experiência.
      </p>

      <a href="https://www.sp.senai.br/noticia/conheca-os-cursos-livres-gratuitos-do-senai-sp" target="_blank">
        Acessar
      </a>
    </div>

    <div class="course-card">

      <h2>SEBRAE</h2>

      <p>
        Cursos sobre empreendedorismo, carreira, marketing e finanças.
      </p>

      <a href="https://digital.sebraesp.com.br/cursos" target="_blank">
        Acessar
      </a>
    </div>

  </div>

</section>

</body>
</html>
